* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-weight: 400;
  font-family: sans-serif;

  font-family:sans-serif;
  overflow: hidden;
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}


textarea {
  font-family: inherit;
  font-size: inherit;
}
.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
  position: absolute;
  height:300px; width:400px;
  margin: -150px 0px 0px -200px;
  top: 50%; left: 50%;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.google {
  width : 100%;
  height : 40px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 30px 10px 50px ;
  font-size:18px

}

.menuButton{
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 500;
  width: 45px;
  height: 45px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 0;
}

.wrapper{
  position: fixed;
  top : 0;
  left : 0;
  right : 0;
  width: 500px;
}

.nav{
  background-color: white;
  position: fixed;
  z-index : 1;
  width : 100%;
  float: right;
}

.logo{
  float: left;
}

.menu{
  display : flex;
  flex-direction: row;
  width : 100%;
  margin : 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  align-content: center;
  font-family: "titlehandwrites";
}

.menu .menuLink{
  text-decoration:none;                     
  color: rgb(36, 36, 36);                            
  display: block;                           
  width: 29vw;
  height: 4vh;                
  font-size: 15px;                       
  font-weight: bold;     
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;

}

.LogOut{
  background-color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-family: "titlehandwrites";
  cursor: pointer;
} 

.menu .menuLink .LogOut:hover{
  color: green;
}

.calendar{
  display: flex;
  position : absolute;
  justify-content: center;
  align-items: center;
  min-height: 80%;
  flex-direction: column;
  font-weight: bold;
  top: 50%;
  left: 50%;
  margin-left: -30vw;
  margin-top: -40vh;
}


.textbox{
  position: absolute;
  width: 46vw;
  height: 45vh;
  top: 50%;
  left: 50%;
  margin-left: -23vw;
  margin-top: -15vh;
  border: none;
  outline: none;
  font-size: 1.2em;
  overflow: visible;
  resize: none;
  text-overflow: ellipsis;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submit{
  position: absolute;
  width: 46vw;
  height: 6vh;
  top: 50%;
  left: 50%;
  margin-left: -23vw;
  margin-top: 37vh;
  border-color:rgb(156, 219, 197);
  border-style:dotted;
  background-color:#ffffff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.question{
  display: block;
  font-size: 2em;
  margin: 20vh 0px 0px 0px;
  font-weight: bold;
  font-family: "titlehandwrites";
  text-align: center;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

canvas {
  position : absolute;
  width: 100%;
  height: 100vh;
  margin: 5vh -8px;
  padding: 0;
}

.slider {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 80%;
  height: 60vh;
  overflow: hidden;
  align-items: center;
}
.slider-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  width: 3000px;
  display: grid;
  grid-template-columns: repeat(31, 50px);
  gap: 1.5rem;
  pointer-events: none;
  transition: 0s ease-in;
}
.slide {
  height: 100%;
  margin-top: 0;
  background-color: blue;
  transition: .5s;
  opacity: 1;
}

.clickpage {
  position: absolute;
  width: 200px;
  height: 60vh;
  left: 50%;
  margin-left: -100px;
  margin-top: 100vh;
  background-color: chartreuse;
  transition: .5s;
}

.calendartext{
  color:black
}

@font-face {
  font-family: "handwrites"; 
  src: url("./fonts/handwrites.ttf");
}

@font-face {
  font-family: "titlehandwrites"; 
  src: url("./fonts/Titlehandwrites.ttf");
}