* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e9fff2, #e9fff2, #e9fff2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e9fff2, #e9fff2, #e9fff2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family:sans-serif;
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
  position: absolute;
  height:300px; width:400px;
  margin: -150px 0px 0px -200px;
  top: 50%; left: 50%;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.google {
  width : 100%;
  height : 40px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 30px 10px 50px ;
  font-size:18px

}

.wrapper{
  position: fixed;
  top : 0;
  left : 0;
  right : 0;
  width: 500px;
}

.nav{
  background-color: white;
  position: fixed;
  z-index : 1;
  width : 100%;
  float: right;
}

.logo{
  float: left;
}

.menu{
  display : flex;
  flex-direction: row;
  width : 100%;
  margin : 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  align-content: center;
}

.menu .menuLink{
  text-decoration:none;                     
  color: rgb(41, 37, 37);                             
  display: block;                           
  width: 900px;
  height: 30px;                
  font-size: 15px;                       
  font-weight: bold;     
  display: inline-block;
  text-align: center;
  margin-top: 10px;
        
}

.menu .menuLink:hover{
  color: green;
}

.LogOut{
  background-color: #ffffff;
  position: fixed;
  top : 10px;
  left : 1800px;
  right : 100px;
  font-size: 15px;                       
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
} 

.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  font-weight: bold;
}

.textbox{
  position: absolute;
  width: 800px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -100px;
  border: none;
  outline: none;
  font-size: 20px;
  overflow: visible;
  resize: none;
  text-overflow: ellipsis;
}

.submit{
  position: absolute;
  width: 800px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: 300px;
  border-color:rgb(156, 219, 197);
  border-style:dotted;
  background-color:#ffffff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.question{
  display: block;
  font-size: 2em;
  margin: 200px 0px 0px 0px;
  font-weight: bold;
  text-align: center;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}